.badge_color {
  height: fit-content;
  width: 50%;
  max-height: 10vh;
  border-radius: 12px;
  color: #ffffff;
  border-color: rgb(214, 0, 0);
  padding: 5px 10px;
  font-weight: 500;
}
.table_style {
  margin: auto;
  background-color: black;
}
.table_container {
  width: 80%;
  margin: auto;
}

.input_search {
  display: flex; 
  justify-content: right;
}
.input_search Datatable {
  background-color: red;
  width: 80%;
}
