h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  margin: 0;
  padding: 0;
}

.h1_carousel_home {
  color: white;
  margin-bottom: 2vh;
}
.divPrinc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.carousel_container{
    width: 100%;
}
/************* Component SideNav *************/
.sidenav_links {
  width: 100%;
}

.navBar {
  position: sticky;
  top: -1; /*distancia superior*/
  z-index: 1; /*posiciona el elemento sobre los demás*/
  background-color: rgb(255, 255, 255);
  margin-top: 0%;
  margin-bottom: 2%;
}

.navBar_Content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 10px;
  gap: 7%;
}
.navBar_Content p {
  text-shadow: 1px 0px 20px #87a155b8;
  font-weight: 700;
  font-size: 2.5vh;
  margin: 0;
  color: rgb(56, 51, 51);
}
.sidenav_content h3 {
  color: rgb(112, 93, 93);
  font-family: System-ui, Courier, monospace;
  font-size: 2vh;
}

.text_link_sideNav {
  margin-bottom: 2%;
  font-weight: 600;
  font-size: 2vh;
  color: rgb(95, 79, 79);
  font-family: System-ui, Courier, monospace;
}
.text_link_sideNav :hover {
  color: rgb(112, 93, 93);
}
.logos {
  gap: 10px;
  width: 80%;
  display: flex;
}

.logos span {
  color: rgb(112, 93, 93);
  font-family: System-ui, Courier, monospace;
  font-size: 2.5vh;
  margin-left: 2%;
  font-weight: 600;
}

/************* Component table *************/
.title_table {
  color: rgb(56, 51, 51);
  text-shadow: 1px 0px 20px #87a155b8;
  font-family: System-ui, Courier, monospace;
  font-size: 1.1vw;
}
.title_table h2 {
  margin: 0;
}
.header_table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.input_search {
  display: flex;
  justify-content: right;
  width: 76%;
}
.input_search Datatable {
  background-color: red;
  width: 80%;
}
.badge_color {
  height: fit-content;
  width: 50%;
  max-height: 10vh;
  border-radius: 12px;
  color: #ffffff;
  border-color: rgb(214, 0, 0);
  padding: 5px 10px;
  font-weight: 500;
}
.table_style {
  margin: auto;
  background-color: black;
}
.table_container {
  width: 80%;
  margin: auto;
}
