h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  margin: 0;
  padding: 0;
}

.h1_carousel_home{
color: white;
margin-bottom: 2vh;
}
.divPrinc{
    
    display: flex;
    align-items: center;
    flex-direction: column;
}