.principal_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(201, 216, 114, 0.89);
  max-width: 880px;
  margin-left: 20%;
  padding: 2em;
  margin-bottom: 1rem;
}

.nav_div{
  margin-bottom: 2rem;
}