.principal_card {
  background-color: rgba(201, 216, 114, 0.89);
  max-width: 880px;
  margin-left: 20%;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2em;
  /*
  text-align: center;
  */
}
